
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Team</title> 

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" href="../css/main.css">
</head>

<body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
                <div class="container d-flex flex-column flex-md-row justify-content-between">
                  <a class="navbar-brand" href="./index.html">Linked</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                      <li class="nav-item active">
                        <a class="nav-link" href="./index.html">Home
                          <span class="sr-only">(current)</span>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Services</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="./team.html">Contact</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
            

<div class="header">
        <div class="row">
            <div class="heading-title text-center">
                <h3 class="text-uppercase">Our team </h3>
                <p class="p-top-30">Meet the team behind linked. </p>
                
                <p class="p-top-30 "> 
                  bluh bluh bluh mmmh is all that good stuff? 
                  Anyway its Linked.
                 </p>
                 <div class="team-img">
                        <img src="https://image.freepik.com/free-photo/well-dressed-executive-with-crossed-arms_1098-3930.jpg" alt="team member" class="img-responsive">
                    </div>
               
             </p>
           
 </div>
 <div class="centalText">

         <h2>How it works</h2>
           <hr>
              <p id ="explanation">
                 will give summary
                </p>
           <p id = "explanation">
                    what makes it unique all that good stuff
         </p>
      </div>


</body>
</html>
